doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Y Map
    link(rel="stylesheet", href="css/bootstrap.min.css")
    script(type="text/javascript", src="js/jquery-1.11.0.min.js")
    script(type="text/javascript", src="js/bootstrap.min.js")
    script(type="text/javascript", src="index.js")
    script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCYKBJNDGQr1ooy9wxoOH6QO2jnO4DUvN4&sensor=true")
  body
    div(style="width: 100%; height: 100%; position: fixed;")
      #map_canvas(style="width: 100%; height: 100%;")
